QTreeView {
    background-color: #181818;
    color: #f0ebd8;
    alternate-background-color: #232323;
    border: none;
    border-radius: 8px;
    show-decoration-selected: 1;
}

/* Alternative row styling */
QTreeView::item:alternate {
    background-color: #232323;
}

QTreeView::item:hover {
    background-color: #3e5c76;
    border-radius: 6px;
}

QTreeView::item:selected {
    background-color: #748cab;
    color: #0d1321;
    border-radius: 6px;
}
